.media {
  background-color: white;
  margin: 5%;
  margin-top: 15%;
  border-radius: 20px 15px 20px;
}

#title {
  text-align: center;
  font-size: 24pt;
}

.bodyTop {
  margin: 3%;
  margin-top: -2%;
}

.bodyBottom {
  margin: 3%;
  padding-right: 2%;
}

.emphasis {
  font-weight: bolder;
  margin: 4%;
}

p {
  text-align: center;

}
