<article class="media">
  <div class="media-content">
    <div class="content">
      <p><strong id="title">The Society of Dogs Who Eat Poop</strong> <small>Proud puppers</small> <small>est 2017</small></p>
        <br>
        <p class="bodyTop">The Society of Dogs Who Eat Poop is intended to be a gathering place for the highest class of dogs. We use this space to communicate with each other about the finer points of poop eating. We advocate all dogs to eat only the best poops.</p>
        <p class="emphasis">After hundreds of years operating as a secret society, we at the S.O.D.W.E.P. believe the internet brings us the power we need to spread our message to the world.</p>
        <p class="bodyBottom">Come, join our ranks! There is much poop to be eaten!
        <br><br>
        It is nature's gift to dogs, and we must enjoy!</p>
    </div>
  </div>
</article>
