<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>The Society of Dogs Who Eat Poop</strong> <small>Proud puppers</small> <small>est 2017</small>
        <br>
        The Society of Dogs Who Eat Poop is intended to be a gathering place for the highest class of dogs. We use this space to communicate with each other about the finer points of poop eating. We advocate all dogs to eat only the best poops.
      </p>
    </div>
  </div>
</article>
