<div class="columns">

  <div class="column is-5">
    <img src={{dog.imageURL}} alt="">
  </div>

  <div class="column">

    <nav class="panel">
      <p class="panel-heading">
        {{dog.name}} - <small>{{dog.rank}}</small>
      </p>
      <label class="panel-block is-active">
        <span class="panel-icon">
          <i class="fa fa-paw"></i>
        </span>
        Breed: {{dog.breed}}
      </label>
      <label class="panel-block is-danger">
        <span class="panel-icon">
          <i class="fa fa-paw"></i>
        </span>
        Age: {{dog.age}}
      </label>
      <label class="panel-block  is-info">
        <span class="panel-icon">
          <i class="fa fa-paw"></i>
        </span>
        Location: {{dog.location}}
      </label>
      <label class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-paw"></i>
        </span>
        {{dog.bio}}
      </label>
      <label class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-calendar-o"></i>
        </span>
        Joined: {{dog.joined}}
      </label>
      <div class="panel-block">
        <button (click)="toggleEditModal()" class="button is-primary is-outlined is-fullwidth">
          Edit {{dog.name}}
        </button>
      </div>
    </nav>



  </div>

</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit {{dog.name}}</p>
      <button (click)="toggleEditModal()" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <app-member-edit></app-member-edit>
    </section>

  </div>
</div>
