<div class="tabs is-centered">
  <ul>
    <li><a (click)="appliedFilter = 'all'">All</a></li>
    <li><a (click)="appliedFilter = 'highranks'">High Ranking Members</a></li>
    <li><a (click)="appliedFilter = 'lowranks'">Low Ranking Members</a></li>
    <li><a (click)="appliedFilter = 'young'">Young Members</a></li>
    <li><a (click)="appliedFilter = 'old'">Old Members</a></li>
  </ul>
</div>

<div class="tile is-ancestor">
  <div *ngFor="let dog of dogs | listFilter:appliedFilter" class="eachDogTile">
    <div class="card columns">
      <div class="card-image column">
        <figure class="image">
          <img (click)="goToMemberDetail(dog)" src={{dog.imageURL}} alt={{dog.name}}>
        </figure>
      </div>
      <div class="card-content column is-10">
        <div class="media">
          <p (click)="goToMemberDetail(dog)" class="title is-4 imgName">{{dog.name}}</p>
          <div class="media-content">
            <p class="subtitle is-6">{{dog.rank}}</p>
          </div>
        </div>

        <div class="content">
          {{dog.bio}}
          <br>
          <small>Joined: {{dog.joined}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
