 html {
   background-color: grey;
 }

 .level {
   color: white;
   word-wrap: break-word;
   word-break: break-all;
   width: 90%;
 }

body {
  background:
  linear-gradient(
    rgba(128, 128, 128, 0.45),
    rgba(40, 40, 40, 0.85)
  ),
  url('http://cdn2.irishviews.com/irishviews-cdn/black-and-white/grass-lawn3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.menu a {
  color: white;
}

.menu-label {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
